* {
  font-family: 'Montserrat', sans-serif !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

html { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility; 
}

body {
  background-color: #2196f3;
  color: white;
    margin: 8px;
   
}

#container {
  margin: 25px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}

div.grade-container {
  margin: 0;
/*   padding-bottom: 10px; */
}

div.grade-container button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    padding-left: 0;
    /*  margin-bottom: 12px;*/
    cursor: pointer;
    color: white;
    opacity: 0.8;
    margin: 0;
    font-weight: 700;

}

a {
    font-size: 36px;
    display: none;
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    line-height: 1.2;
    font-weight: 800;
}

a:hover {
  color: white;
}

.grade-container.focus-class, .grade-container.focus-class button {
  font-size: 36px;
}

.grade-container.focus-class {
  margin: 10px 0px 20px;
}

.grade-container.focus-class a {
  display: block;
}

@media screen and (min-width: 768px) {
    #container {
        margin: 80px;
    }
}