@media screen and (min-width: 801px)
{
:root
{
    background-color: rgb(249, 253, 255);
    /*


    
        font-family: 'Coming Soon', cursive;

        -webkit-font-smoothing: antialiased;
    
    */
 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 130%;
    font-weight: 100;

    
}

body
{
    margin-top: 0;
}

a
{
    text-decoration: none;
    
}

a div
{
        padding: 1px 10px;
}

#main > img
{
    float: right;
    width: 40%; 
    border: none;
    margin: 10px;
}

img + div
{
    text-align: center;
    padding: 10px 0;
}

p, a
{
    letter-spacing: 0.2px;
}

h3
{
    margin-top: 30px;
    margin-bottom: 15px;
}

hr
{
    height: 1px;
    background-color: #d8d8d8;
    color: #d8d8d8;
    border: none;
    
}

/*Navigation....................................................................*/
nav
{
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0px 2px 5px #c7c7c7;
    z-index: 2;

}

h1
{
    margin: 0;
    width: 100%;
    background-color: #72c8f4;
    line-height: normal;
    padding: 4px;
    font-weight: 100;
    font-size: 2em;
    


}

.firstLink
{
    background-color: #c9f9ff;
    color: #1a535a;
}

.secondLink
{
    background-color: #a2ff91;
    color: #19520e;
}

.thirdLink
{
    background-color: #f2ff91;
    color: #596215;
}

.fourthLink
{
    background-color: #ffd991;
    color: #624d15;

}

/*WEB--FONTS----------------------------------------------------------------------*/


@font-face {
}

/*MISC----------------------------------------------------------------------*/



#main
{
    position: relative;
    margin: auto;
    width: 70%;
    top: 170px;
    line-height: 170%
}

iframe
{
    display: block;
    margin: 40px auto;
    border: solid #d8d8d8 1px;
}

.imgSet 
{
    height: 100px; 
    border-radius: 5px;
    margin: auto;
    border: 1px solid #e8e8e8;
}

.imgCenterMED
{

    display: block;
    margin: 15px auto;
    width: 40%;
    border: solid #d8d8d8 1px;
    
}

.imgCenterMED
{

    display: block;
    margin: auto;
    width: 20%;
    border: solid #d8d8d8 1px;
    
}


th, td
{
    border: 1px solid #90bedb;
    padding: 10px;
}

th
{
    background-color: #72a9f4;
    color: white;
}



img
{
    border: solid #d8d8d8 1px;
}
}
/*Media Query---------------------------------------------------------------*/

@media screen and (max-width: 800px) {
:root
{
    background-color: rgb(249, 253, 255);
    /*


    
        font-family: 'Coming Soon', cursive;

        -webkit-font-smoothing: antialiased;
    
    */
 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 130%;
    font-weight: 100;

    
}

body
{
    margin-top: 0;
}

a
{
    text-decoration: none;
    
}

a div
{
        padding: 1px 10px;
}


img + div
{
    text-align: center;
    padding: 10px 0;
}

p, a
{
    letter-spacing: 0.2px;
}

h3
{
    margin-top: 30px;
    margin-bottom: 15px;
}

hr
{
    height: 1px;
    background-color: #d8d8d8;
    color: #d8d8d8;
    border: none;
}

/*Navigation....................................................................*/
nav
{
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0px 2px 5px #c7c7c7;
    z-index: 2;

}

h1
{
    margin: 0;
    width: 100%;
    background-color: #72c8f4;
    line-height: normal;
    padding: 4px;
    font-weight: 100;
    font-size: 2em;
    


}

.firstLink
{
    background-color: #c9f9ff;
    color: #1a535a;
}

.secondLink
{
    background-color: #a2ff91;
    color: #19520e;
}

.thirdLink
{
    background-color: #f2ff91;
    color: #596215;
}

.fourthLink
{
    background-color: #ffd991;
    color: #624d15;

}

/*WEB--FONTS----------------------------------------------------------------------*/


@font-face {
}

/*MISC----------------------------------------------------------------------*/



#main
{
    position: relative;
    margin: auto;
    width: 70%;
    top: 170px;
    line-height: 150%

}

iframe
{
    display: block;
    margin: 40px auto;
    border: solid #d8d8d8 1px;
}

.imgSet 
{
    height: 200px; 
    border-radius: 5px;
    margin: auto;
    border: 1px solid #e8e8e8;
}

.imgCenterMED
{

    display: block;
    margin: 15px auto;
    width: 40%;
    border: solid #d8d8d8 1px;
    
}

.imgCenterMED
{

    display: block;
    margin: auto;
    width: 20%;
    border: solid #d8d8d8 1px;
    
}


th, td
{
    border: 1px solid #90bedb;
    padding: 10px;
}

th
{
    background-color: #72a9f4;
    color: white;
}



img
{
    border: solid #d8d8d8 1px;
}
    #main > img
{
    width: 100%; 
    margin: 10px;
}
}