:root
{

 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 130%;
    font-weight: 100;

    
}

body
{
    margin-top: 0;
    background-color: #e7f7ff;

    
}

a
{
    text-decoration: none;
    
}

a div
{
        padding: 1px 10px;
}

img + div
{
    text-align: center;
    padding: 10px 0;
}

p, a
{
    letter-spacing: 0.2px;
}

h3
{
    margin-top: 30px;
    margin-bottom: 15px;
}

hr
{
    height: 1px;
    background-color: #d8d8d8;
    color: #d8d8d8;
    border: none;
}

/*Navigation....................................................................*/
nav
{
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0px 2px 5px #c7c7c7;
    z-index: 2;

}

h1
{
    margin: 0;
    width: 100%;
    background-color: #72c8f4;
    line-height: normal;
    padding: 4px;
    font-weight: 100;
    font-size: 2em;
    


}

.firstLink
{
    background-color: #c9f9ff;
    color: #1a535a;
}

.secondLink
{
    background-color: #a2ff91;
    color: #19520e;
}

.thirdLink
{
    background-color: #f2ff91;
    color: #596215;
}

.fourthLink
{
    background-color: #ffd991;
    color: #624d15;

}

/*WEB--FONTS----------------------------------------------------------------------*/


@font-face {
}

/*MISC----------------------------------------------------------------------*/



#main
{
    position: relative;
    margin: auto;
    width: 70%;
    top: 200px;
}

iframe
{
    display: block;
    margin: 40px auto;
    border: solid #d8d8d8 1px;
}

.imgSet 
{
    height: 200px; 
    border-radius: 5px;
    margin: auto;
    border: 1px solid #e8e8e8;
}

.imgCenterMED
{

    display: block;
    margin: 15px auto;
    width: 40%;
    border: solid #d8d8d8 1px;
    
}

.imgCenterMED
{

    display: block;
    margin: auto;
    width: 20%;
    border: solid #d8d8d8 1px;
    
}


th, td
{
    border: 1px solid #90bedb;
    padding: 10px;
}

th
{
    background-color: #72a9f4;
    color: white;
}



img
{
    border: solid #d8d8d8 1px;
}

    .bigButton
{
    background-color: #9bff89;
    color: black;
    border: 1px solid #75ba69;
    border-radius: 10px;
        padding: 10px;
    width: 30%;
}

.bigButton p
{

    margin: 1px auto;
}

#sampleGallery 
    {
        padding: 10px;
        background-color: #fff797;
        border: 10px solid white;
        border-radius: 10%;
        margin: 20px auto;
        overflow: hidden;
    }
    
#sampleGallery h3
    {
        color: #ff5800;
        text-align: center;
    }

#sampleGallery img
{
    margin: 1%;
    border: 3px solid white;
    width: 28%;
    
    
}
    

    
#sampleGallery img:nth-child(1) 
    {
        margin-top: 70px;
    }
    

/*Media Query---------------------------------------------------------------*/

@media screen and (max-width: 800px) {
#main
{
    position: relative;
    margin: 0 60px;
    top: 420px;
}
.firstLink
{
    background-color: #c9f9ff;
    color: #1a535a;
}

.secondLink
{
    background-color: #a2ff91;
    color: #19520e;
}

.thirdLink
{
    background-color: #f2ff91;
    color: #596215;
}

.fourthLink
{
    background-color: #ffd991;
    color: #624d15;

}
    h1
{
    margin-bottom: 0px;
    width: auto;
    background-color: #72c8f4;
    line-height: normal;
    padding: 20px;
}
    
nav
{
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0px 2px 5px #c7c7c7;
    z-index: 2;

}
    
#sampleGallery 
    {
        padding: 10px;
        background-color: #fff797;
        border: 10px solid white;
        margin: 20px auto;
        width: 100%;
    }

#sampleGallery img
{
    display: block;
    margin: 10px auto;
    width: 70%;
    border: 3px solid #fff;
}
    
#sampleGallery h3
    {
        color: #ff5800;
        text-align: center;
    }
}
