:root
{
    background-color: rgb(249, 253, 255);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    line-height: 120%;
    
}

body
{
    margin-top: 0;
}

a
{
    text-decoration: none;
    
}



/*Navigation....................................................................*/
nav
{
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 5px #c7c7c7;

}

h1
{
    margin: 0;
    width: 100%;
    background-color: #72c8f4;
    line-height: normal;
    padding: 1px;
    font-weight: 100;
    font-size: 2em;


}

.firstLink
{
    background-color: #c9f9ff;
    color: #1a535a;
}

.secondLink
{
    background-color: #a2ff91;
    color: #19520e;
}

.thirdLink
{
    background-color: #f2ff91;
    color: #596215;
}

.fourthLink
{
    background-color: #ffd991;
    color: #624d15;

}

/*MISC----------------------------------------------------------------------*/



#main
{
    position: absolute; 
    z-index:-1;
    margin: 180px 60px 20px;
}

iframe
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid #d8d8d8 1px;
}

.imgSet 
{
    height: 200px; 
    border-radius: 5px;
    margin: auto;
    border: 1px solid #e8e8e8;
}

.imgCenterMED
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: solid #d8d8d8 1px;
    
}

.imgCenterMED
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: solid #d8d8d8 1px;
    
}


th, td
{
    border: 1px solid #90bedb;
    padding: 10px;
}

th
{
    background-color: #72a9f4;
    color: white;
}



img
{
    border: solid #d8d8d8 1px;
}

/*Media Query---------------------------------------------------------------*/

@media screen and (max-device-width: 600px) and (-webkit-device-pixel-ratio: 2) {
#main
{
    position: absolute; 
    z-index:-1;
    margin: 420px 60px 20px;
}
.firstLink
{
    background-color: #c9f9ff;
    color: #1a535a;
    padding: 20px;
}

.secondLink
{
    background-color: #a2ff91;
    color: #19520e;
    padding: 20px;
}

.thirdLink
{
    background-color: #f2ff91;
    color: #596215;
    padding: 20px;
}

.fourthLink
{
    background-color: #ffd991;
    color: #624d15;
    padding: 20px;
    
}
    h1
{
    margin-bottom: 0px;
    width: auto;
    background-color: #72c8f4;
    line-height: normal;
    padding: 20px;
}
    
    #nav
{
    position: relative;
    width: 100%;
    margin-top: -29px;
    box-shadow: 0px 2px 5px #c7c7c7;

}
}
