html
{
    background-color: #dafafc;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 700;
    line-height: 120%;
    font-size: 1em;
    
}

.imgSet 
{
    display: inline;
    height: 200px; 
    width: 300px;
    border: solid #d8d8d8 2px;
    padding: 10px;
        border-radius: 10px;
    background-color: white;
}

.imgCenterMED
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: solid #d8d8d8 1px;
    
}

a
{
    text-decoration: none;
    display: inline;
    
}

div
{   
   
    
}

h1
{
    margin-bottom: 20px;
    background-color: #72c8f4;
    line-height: normal;
    padding: 2px;
    font-weight: 100;
    text-align: center;
    box-shadow: 0px 2px 5px #c7c7c7;
    border-radius: 10px;

}



figure
{
    width: 300px;
    text-align: center;

}

#main
{
    z-index:-1;
    margin: 50px 60px 20px;
}

#nav
{

    position: relative;
    width: 100%;
    margin-top: -40px;
    

}
@media screen and (max-device-width: 600px) and (-webkit-device-pixel-ratio: 2) {
#main
{
    position: absolute; 
    z-index:-1;
    margin: 420px 60px 20px;
}
    h1
{
    margin-bottom: 0px;
    width: auto;
    background-color: #72c8f4;
    line-height: normal;
    padding: 20px;
}
    
}