html
{
    
    font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    line-height: 130%;
    font-weight: 200;
    letter-spacing: 0.2px;
    font-size: 1em;


    
}
    
@font-face {
    font-family: newFont;
    src: url("Fonts/KGLegoHouse.ttf") format("truetype");
}

body
{
    margin-top: 0;
    background-color: #e7f7ff;
}

a
{
    text-decoration: none;
    
}





img + div
{
    text-align: center;
    padding: 10px 0;
}

h3
{
    margin-top: 30px;
    margin-bottom: 5px;
    clear: both;
    font-family: newFont;
    letter-spacing: 0.9px;
}

hr
{
    height: 1px;
    background-color: #d8d8d8;
    color: #d8d8d8;
    border: none;
    clear: both;
    margin-top: 0;
    
}

/*Navigation....................................................................*/
nav
{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;

}

h1
{
    margin: 0;
    width: 100%;
    background-color: #72c8f4;
    line-height: normal;
    padding: 10px;
    font-weight: 100;
    font-size: 2em;
    box-shadow: 0px 4px 5px rgba(139, 139, 139, 0.4);
    font-family: newFont;
    letter-spacing: 0.9px;
    
    


}

.firstLink
{
    background-color: #c9f9ff;
    color: #1a535a;
}

.secondLink
{
    background-color: #a2ff91;
    color: #19520e;
}

.thirdLink
{
    background-color: #f2ff91;
    color: #596215;
}

.fourthLink
{
    background-color: #ffd991;
    color: #624d15;


}

.firstLink:hover {
    background-color: #b0f6ff;
}

.secondLink:hover
{
    background-color: #8aff75;

}

.thirdLink:hover
{
    background-color: #eeff6f;

}

.fourthLink:hover
{
    background-color: #ffce71;


}
    
a div
    {
        transition-duration: .3s;
        box-shadow: 0px 4px 5px rgba(139, 139, 139, 0.4);
        padding: 1px 10px;
        

    }
    
a div:hover
    {
        margin-left: 10px;
        transition-duration: .3s;

    }
    
/*MISC----------------------------------------------------------------------*/



#main
{
    position: relative;
    margin: auto;
    width: 70%;
    top: 190px;
    line-height: 170%;
}

iframe
{
    display: block;
    margin: 40px auto;
    border: solid #d8d8d8 1px;
    clear: both;
}
    
.googleForm
    {
        width: 500px;
        height: 900px;
    }

.imgSet 
{
    height: 100px; 
    border-radius: 5px;
    margin: auto;
    border: 1px solid #e8e8e8;
}
    
    

    
.imgRight
{
    float: right;
    width: 25%; 
    border: 1px solid gray;
    margin: 10px;
    max-width: 200px;
    height: 120px;
}
    
.imgLeft
{
    float: left;
    width: 25%; 
    border: 1px solid gray;
    margin: 10px;
    max-width: 200px;
    height: 120px;
    
}

    
    
.imgCenterMED
{

    display: block;
    margin: 15px auto;
    width: 40%;
    border: solid #d8d8d8 1px;
    
}

.imgCenterSM
{

    display: block;
    margin: auto;
    width: 20%;
    border: solid #d8d8d8 1px;
    
}
    
.imgCenterLG
{

    display: block;
    margin: 5px auto;
    width: 70%;
    border: solid #d8d8d8 1px;
    
    
}


th, td
{
    border: 1px solid #90bedb;
    padding: 10px;
}

th
{
    background-color: #72a9f4;
    color: white;
}
    
#sampleGallery 
    {
        padding: 10px;
        background-color: #fff797;
        border: 10px solid white;
        border-radius: 10%;
        margin: 20px auto;
        overflow: hidden;
    }
    
#sampleGallery h3
    {
        color: #ff5800;
        text-align: center;
    }

#sampleGallery img
{
    margin: 1%;
    border: 3px solid white;
    width: 28%;
    
    
}
    
#sampleGallery img:nth-child(3n - 2)
    {
        margin-left: 4%;
    }



/*Media Query---------------------------------------------------------------*/

@media screen and (max-width: 600px) {
    

/*Navigation....................................................................*/

nav, #main
    {
        position: static;
    }
    
h1
{
    font-size: 1em;

}
    
a div
    {
        box-shadow: 0px 4px 5px rgba(139, 139, 139, 0.4);
        padding: 5px 10px;
        width: 100%;
        

    }
    
/*MISC----------------------------------------------------------------------*/

    iframe { 
        width: 90%;
    }
    
    
    .googleForm
    {
        display: none;
    }

.imgSet 
{
    height: 100px; 
    border-radius: 5px;
    margin: auto;
    border: 1px solid #e8e8e8;
}
    
    

    
.imgRight
{
    float: right;
    width: 25%; 
    border: 1px solid gray;
    margin: 10px;
    max-width: 200px;
    height: 120px;
}
    
.imgLeft
{
    float: left;
    width: 25%; 
    border: 1px solid gray;
    margin: 10px;
    max-width: 200px;
    height: 120px;
    
}

    
    
.imgCenterMED
{

    display: block;
    margin: 15px auto;
    width: 40%;
    border: solid #d8d8d8 1px;
    
}

.imgCenterSM
{

    display: block;
    margin: auto;
    width: 20%;
    border: solid #d8d8d8 1px;
    
}
    
.imgCenterLG
{

    display: block;
    margin: 5px auto;
    width: 70%;
    border: solid #d8d8d8 1px;
    
    
}


th, td
{
    border: 1px solid #90bedb;
    padding: 10px;
}

th
{
    background-color: #72a9f4;
    color: white;
}
    
#sampleGallery 
    {
        padding: 10px;
        background-color: #fff797;
        border: 10px solid white;
        margin: 20px auto;
        width: 100%;
    }

#sampleGallery img
{
    display: block;
    margin: 10px auto !important;
    width: 70%;
    border: 3px solid #fff;
}
    
#sampleGallery h3
    {
        color: #ff5800;
        text-align: center;
    }
}

@media print {
    
    iframe, a, h1
    {
        display: none;
    }
}